@model List<ResultCargoDetailDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="content-wrapper">
    <section class="content-header">
        <h3 class="text-primary">
            <i class="fa fa-file-text"></i> Kargo Detayları
        </h3>
        <ol class="breadcrumb">
            <li><a href="/Admin/Dashboard/Index"><i class="fa fa-home"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-file-text"></i> Kargo Detayları</li>
        </ol>
    </section>

    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-box">
                    <h4>Kargo Detayları'nın Listelenmesi</h4>
                    <p>Kargo Detayları ile ilgili listeleme, ekleme, silme ve güncelleme işlemlerini aşağıdan gerçekleştirebilirsiniz.</p>
                    <div class="bs-example" data-example-id="hoverable-table">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Gönderen</th>
                                    <th>Alıcı</th>
                                    <th>Barkod</th>
                                    <th>Kargo Şirketi</th>                                   
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.SenderCustomerName @item.SenderCustomerSurname</td>
                                        <td>@item.ReceiverCustomerName @item.ReceiverCustomerSurname</td>
                                        <td>@item.Barcode</td>
                                        <td>@item.CargoCompanyName</td>
                                        <td>
                                            <a href="/Admin/CargoDetail/DeleteCargoDetail/@item.CargoDetailId"
                                               class="btn btn-danger btn-rounded btn-sm">
                                                <i class="bi bi-trash"></i> Sil
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Admin/CargoDetail/UpdateCargoDetail/@item.CargoDetailId"
                                               class="btn btn-warning btn-rounded btn-sm">
                                                <i class="bi bi-pencil-square"></i> Güncelle
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <a href="/Admin/CargoDetail/CreateCargoDetail" class="btn btn-primary btn-rounded btn-sm">
                            <i class="bi bi-plus-circle"></i> Yeni Kargo Detayı Ekle
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
